extends ../layouts/main.pug

block content
    .login-container
        .login-card
            h1.login-title Welcome Back
            p.login-subtitle Log in to continue to your account
            form.form
                .mb-3
                    input#email.form-control(
                    type="email"
                    placeholder="Email"
                    required
                    autocomplete="username"
                    )

                .mb-3
                    input#password.form-control(
                    type="password"
                    placeholder="Password"
                    required
                    autocomplete="current-password"
                    )

                button.login-btn(type="submit") Log In

            .forgot-password
                a(href="/login") Forgot your password?
                .create-account
                    a(href="/register") Create an account

